@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
<SfTreeMap DataSource="Employees" TValue="Employee" RenderDirection="RenderingMode.TopRightBottomLeft" WeightValuePath="EmployeeCount">
    <TreeMapLevels>
        <TreeMapLevel GroupPath="Country" Fill="#85C1E9" GroupGap="7">
            <TreeMapLevelBorder Color="white" Width="0.5">
            </TreeMapLevelBorder>
            <TreeMapHeaderStyle Size="15" Color="White"></TreeMapHeaderStyle>
        </TreeMapLevel>
        <TreeMapLevel GroupPath="JobDescription" Fill="#85C1E9">
            <TreeMapLevelBorder Color="white" Width="0.5">
            </TreeMapLevelBorder>
        </TreeMapLevel>
        <TreeMapLevel GroupPath="JobGroup" Fill="#85C1E9">
            <TreeMapLevelBorder Color="white" Width="0.5">
            </TreeMapLevelBorder>
        </TreeMapLevel>
    </TreeMapLevels>
    <TreeMapLeafItemSettings LabelPath="Country" Fill="#85C1E9" LabelFormat="${Country}  (${JobDescription}-${EmployeeCount})"
                             InterSectAction="LabelAlignment.WrapByWord" LabelPosition="LabelPosition.TopCenter" Gap="7">
        <TreeMapLeafLabelStyle Color="white" Size="14"></TreeMapLeafLabelStyle>
        <TreeMapLeafBorder Color="#1F618D" Width="1"></TreeMapLeafBorder>
    </TreeMapLeafItemSettings>
</SfTreeMap>

@code {
    public class Employee
    {
        public string Country { get; set; }
        public string JobDescription { get; set; }
        public string JobGroup { get; set; }
        public int EmployeeCount { get; set; }
    };
    public List<Employee> Employees = new List<Employee> {
        new Employee { Country= "United States of America", JobDescription= "Sales Department", JobGroup= "Executive", EmployeeCount= 20 },
        new Employee { Country= "United States of America", JobDescription= "Sales", JobGroup= "Analyst", EmployeeCount= 30 },
        new Employee { Country= "United States of America", JobDescription= "Marketing Department", EmployeeCount= 40 },
        new Employee { Country= "United States of America", JobDescription= "Management", EmployeeCount= 80 },
        new Employee { Country= "India", JobDescription= "Technical", JobGroup= "Testers", EmployeeCount= 100 },
        new Employee { Country= "India", JobDescription= "HR Executives", EmployeeCount= 30 },
        new Employee { Country= "India", JobDescription= "Accounts", EmployeeCount= 40 },
        new Employee { Country= "UK", JobDescription= "Technical", JobGroup= "Testers", EmployeeCount= 30 },
        new Employee { Country= "UK", JobDescription= "HR Executives", EmployeeCount= 50 },
        new Employee { Country= "UK", JobDescription= "Accounts", EmployeeCount= 60 }
    };
    public class Country
    {
        public string Name { get; set; }
        public double GDP { get; set; }
    }
    public List<Country> GrowthReport = new List<Country> {
        new Country  {Name="United States", GDP=17946 },
        new Country  {Name="China", GDP=10866 },
        new Country  {Name="Japan", GDP=4123 },
        new Country  {Name="Germany", GDP=3355 },
        new Country  {Name="United Kingdom", GDP=2848 },
        new Country  {Name="France", GDP=2421 },
        new Country  {Name="India", GDP=2073 },
        new Country  {Name="Italy", GDP=1814 },
        new Country  {Name="Brazil", GDP=1774 },
        new Country  {Name="Canada", GDP=1550 }
    };
}

@*<SfTreeMap DataSource="Employees" TValue="Employee" WeightValuePath="EmployeeCount" RenderDirection="RenderingMode.BottomRightTopLeft">
    @*<TreeMapLeafItemSettings LabelPath="Country" Fill="red" Opacity="0.5" LabelPosition="LabelPosition.TopRight">
    <TreeMapLeafLabelStyle Color="#000000" FontFamily="Times New Roman"></TreeMapLeafLabelStyle>
    <TreeMapLeafBorder Color="white" Width="2"></TreeMapLeafBorder>
    </TreeMapLeafItemSettings>

    <TreeMapLevels>
        <TreeMapLevel GroupPath="Country">
        </TreeMapLevel>
        <TreeMapLevel GroupPath="JobDescription">
        </TreeMapLevel>
    </TreeMapLevels>
    @*    <TreeMapLeafItemSettings LabelFormat="${Country}-${JobDescription}" LabelPath="Country" InterSectAction=LabelAlignment.Wrap Gap =20 LabelPosition="LabelPosition.TopCenter">
    <TreeMapLeafColorMappings>
    <TreeMapLeafColorMapping StartRange="10" EndRange="30" Color='new string[]{ "orange", "pink" }'></TreeMapLeafColorMapping>
    <TreeMapLeafColorMapping StartRange="40" EndRange="60" Color='new string[]{ "green", "red" }'></TreeMapLeafColorMapping>

    <TreeMapLeafColorMapping StartRange="50" EndRange="100" Color='new string[]{ "purple", "blue" }' ShowLegend=false></TreeMapLeafColorMapping>
    </TreeMapLeafColorMappings>

    </TreeMapLeafItemSettings>
    <TreeMapLegendSettings Alignment=Alignment.Center ValuePath="Country" Visible="true" Position="LegendPosition.Auto" Height="50px" Width="100px">
    </TreeMapLegendSettings>
    <TreeMapTooltipSettings Visible=true Format="${Country} : ${EmployeeCount}">
    </TreeMapTooltipSettings>

    @* <TreeMapLevels>
    <TreeMapLevel GroupPath="Country" GroupGap="10" HeaderHeight="45">

    <TreeMapHeaderStyle Size="25px"></TreeMapHeaderStyle>
    <TreeMapLevelBorder Color="white" Width="1">
    </TreeMapLevelBorder>
    </TreeMapLevel>
    <TreeMapLevel GroupPath="JobDescription" GroupGap="10" HeaderHeight="45">
    <TreeMapLevelBorder Color="white" Width="1">
    </TreeMapLevelBorder>
    </TreeMapLevel>
    <TreeMapLevel GroupPath="JobGroup" GroupGap="10">
    <TreeMapLevelBorder Color="white" Width="1">
    </TreeMapLevelBorder>
    </TreeMapLevel>
    </TreeMapLevels>
</SfTreeMap>*@